<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiLoc.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <MultiLoc.My.MySettings>
            <setting name="ChemTemp" serializeAs="String">
                <value>c:\temp\</value>
            </setting>
            <setting name="SqlCon" serializeAs="String">
                <value>Provider=SQLOLEDB.1;Server=tcp:valky57.database.windows.net;Database=MULTILOC;User ID=V@lca5ara@valky57;Password=V@lky*03;</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChemModeleOffice" serializeAs="String">
                <value>c:\temp\</value>
            </setting>
            <setting name="TVADefaut" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SqlConDebug" serializeAs="String">
                <value>Provider=SQLNCLI11;Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MultiLoc;Integrated Security=SSPI;Persist Security Info=False;</value>
            </setting>
            <setting name="DebugAppel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SrvSMTP" serializeAs="String">
                <value>smtp.free.fr</value>
            </setting>
            <setting name="SrvSMTPPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EmailAdr" serializeAs="String">
                <value>laurent@valcasara.com</value>
            </setting>
            <setting name="EmailPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailTxt" serializeAs="String">
                <value />
            </setting>
        </MultiLoc.My.MySettings>
    </userSettings>
</configuration>
